accu1
adjdiff1
adjfind1
bounds1
bsearch1
copy1
copy2
copy3
count1
eqrange1
equal1
fill1
find1
find2
findend1
findof1
foreach1
foreach2
foreach3
generate
heap1
imerge1
includes
inner1
lexico1
MAKE.LOG
merge1
minmax1
misma1
nth1
part1
partsum1
perm1
psort1
psort2
random1
relabs
remove1
remove2
replace1
replace2
reverse1
rotate1
rotate2
search1
search2
searchn1
setalgos
sort1
sort2
swap1
transf1
transf2
unique1
unique2
unique3